<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="csrf-token" content="<%= csrfToken %>">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To-Do Manager</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="./css/styles.css">
  <script>
    const token = document.querySelector('meta[name="csrf-token"]').getAttribute("content");

    function updateTodo(id) {
      fetch(`/todos/${id}`, {
          method: "put",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({
            "_csrf": token
          })
        })
        .then((res) => {
          if (res.ok) {
            window.location.reload();
          }
        })
        .catch((err) => console.error(err));
    }

    function deleteTodo(id) {
      fetch(`/todos/${id}`, {
          method: "delete",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({
            "_csrf": token
          })
        })
        .then((res) => {
          if (res.ok) {
            window.location.reload();
          }
        })
        .catch((err) => console.error(err));
    }
  </script>
</head>

<body>

  <div class="grid grid-cols-6">
    <div class="col-start-3 col-span-2 pt-5">
      <%- include("header.ejs") %>
      <form action="/todos" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div class="flex gap-2 pt-4 pb-2">
          <div class="flex-auto">
            <input class="border rounded border-gray-300 text-gray-900 w-full p-2 text-sm leading-relaxed" type="text" name="title" placeholder="What's next?" required />
          </div>
          <div class="flex-auto">
            <input class="border rounded border-gray-300 text-gray-900 w-full p-2 text-sm leading-normal" type="date" name="dueDate" required />
          </div>
          <div class="fle x-none">
            <button class="bg-green-600 text-white px-5 py-2 rounded leading-normal font-medium mr-2 mb-2 py-1.5" type="submit">Add</button>
          </div>
        </div>
      </form>

      <div>
        <%- // include("todos.ejs") %>
        <%- include("todos.ejs", {title: "Overdue", data : overdue}) %>
        <%- include("todos.ejs", {title: "Due Today", data : dueToday}) %>
        <%- include("todos.ejs", {title: "Due Later", data : dueLater}) %>
        <%- include("todos.ejs", {title: "Completed Items", data : completed}) %>
      </div>
    </div>
  </div>
</body>

</html>